<div class="row">
  <div class="col-md-6">
    <form>
        <div class="form-group">
            <label for="title"></label>
            <input name="title" type="text" class="form-control" [(ngModel)]="income.title">
          </div>
          <div class="form-group">
            <label for="amount"></label>
            <input name="amount" type="text" class="form-control" [(ngModel)]="income.amount">
          </div>
          <div class="form-group">
            <label for="type"></label>
            <select name="type" class="form-control">
              <option value="montly">Montly</option>
              <option value="yearly">Yearly</option>
              <option value="once">Once</option>
            </select>
          </div>
          <button class="btn btn-primary" (click)="save()">Save</button>
          <button class="btn btn-danger" (click)="goBack()">Back</button>
    </form>
  </div>
</div>
